################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
LeSuperJeu/.vscode/extensions.json
LeSuperJeu/.vscode/launch.json
LeSuperJeu/.vscode/settings.json
*.json
*.renderTexture
